body{
  background-color: #74afad;
}

.App {
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

@media screen and (max-width: 480px) {
  .App {
    padding-left: 20px;
    padding-right: 20px;
  }
  .App-logo {
    max-width: 300px;
  }
}

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin : 0 auto;
  background-color: transparent;
}

.App-logo {
  height: auto; 
  width: auto;
  transform: scale(0.65);
}

.App-header {
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: black;
}

.App-intro {
  font-size: large;
}

paper {
  padding: 16;
  text-align: 'center';
  color: red;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.grey {
  color: #5f6268;
}

.light-green {
  color: #d5e7e6;
}

.material-icons.md-86 {
  font-size: 86px;
}

.material-icons.md-12 {
  font-size: 12px; 
}

.paper-widget {
  border: 1px solid darkgray;
  border-radius: 0px;
  min-height: 257px;
}

.card-parent {
  background: #d5e7e6 !important;
}

.paper-tooltip {
  text-align: left;
  border: 1px solid darkgray;
  border-radius: 0px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.expand {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.expandOpen {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.action-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabsmain {
  margin: 10px;
  text-align: center;
}

.icon {
  color: rgba(0, 0, 0, 0.54)
}

.icon-header {
  color: rgba(0, 0, 0, 0.54);
  font-size: 46px;
}

.price-indicator {
  vertical-align: text-top;
}

.action-divider {
  flex-grow: '1 1 auto';
}

.text-right {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.footer {
  padding: 20px;
}

.radio-label {
  display: inline;
  vertical-align: super;
}

.base-currency-radio-group {
  padding-bottom: 20px;
  display: inline;
}

.base-currency-radio-btn {
  color: #d5e7e6 !important;
}

.chart-radio-btn {
  color: #74afad !important;
}

.text-area-container {
  min-height: 183px;
}